<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Pig Weather clock</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id='map'> 載入中...</div>
  <!--<iframe src="https://www.google.com/maps/d/embed?mid=1R_bp6jQg8PJACRINBwa-mK0TRUE&hl=en_US" width="640" height="480"></iframe>
  <iframe src="http://www.cwb.gov.tw//V7/google/46706_map.htm" frameborder="0" width="1000" height="800"></iframe>-->
  <ul align='left'>
    Welcome <span><%= user %></span> <span>▼</span><br>
    <a href='/'><li>service</li></a>
    <a href='/logout'><li>logout</li></a>
    <a href='/user/changepw'><li>change password</li></a>
    <a href='/user/searchmap'><li>search map</li></a>     
  </ul>
  <div class='container' align='center'>
    <div class='header'>
      <h1>Pig Weather</h1>
      <h2>Let you know where rain and when rain</h2>
    </div>
    <div class='content' align='left' style="width:95%">
      <div class='rightside'>
      <% if (message.length > 0) { %>
      <div class="box flash">
        <p>
          <%= message %>
        </p>
      </div>
      <% } %>
      <div class='topbar'>
        <div style="width:35%">
          地區
        </div>
        <div style="width:20%">
          雨量
        </div>
        <div style="width:20%">
          間隔
        </div>
      </div>
      <% items.forEach(function(item) { %>
      <div class="box <%= item.addr.id %>">
        <div style="width:35%;text-align: left;">
          <p class="area">
            <%= item.addr.city %>
            <br>
            <%= item.addr.addr %>
          </p>
        </div>
        <div style="width:20%">
          <p class="threshold">
            <%= item.threshold %>
          </p>
        </div>
        <div style="width:20%">
          <p class="timespan">
            <%= item.timespan %>
          </p>
        </div>
        <div style="width:20%">
        <a href="/list/delete/<%= item.addr.id %>">
          <p class='button button-delete'>刪除通知</p>
        </a>
        <a>
          <p class='button' onclick='initMap("<%= item.addr.id %>")'>查看位置</p>
        </a>
        </div>
      </div>
      <% }) %>
      <div class='createbox' align='left'>
        <h3 align='center'>新增下雨通知</h3>
        <form action="/list" method="post">
          <p><span id='notice_list'></span></p><br>
          <div class="region">
            <p><span>*</span>地區</p>
            <select required name="city" id='city'>
              <option value="">請選擇縣市</option>
            </select>
            <select required name="county" id='county'>
              <option value="">請選擇鄉鎮區</option>
            </select><br>
            <p>&emsp;&emsp;&ensp;</P>
            <select required name="stop" id='stop'>
              <option value="">請選擇觀測站</option>
            </select>
          </div>
          <br>
          <p><span>*</span>間隔</p>
          <select required name="timespan" id='timespan'>
            <option value="">請選擇間隔</option>
          </select>
          <br>
          <p>雨量設定須為整數或至小數點後第一位</p><br>
          <p><span>*</span>雨量</p>
          <input required type="number" step=".5" size="10" min="1" max="2147483647" name="threshold" id='threshold' onchange="checkThreshold(this.id)">公釐
          <span id='notice_rain'></span>
          <input class='button submit' type="submit" value="新增通知">
        </form>
      </div>
    </div>
    <div class='leftside'>
      <div id='map'></div>
    </div>
    </div>
    <div class='footer'>
      <hr>
      <h5>Contact us</h5>
      <h5>|</h5>
      <h5>About us</h5>
    </div>
  </div>
  <script src="/javascripts/form.js"></script>
  <script src="/data/pig-city.js"></script>
  <script src="/data/pig-county.js"></script>
  <script src="/data/pig-stop.js"></script>
  <script src="/data/pig-timespan.js"></script>
  <script src="/javascripts/list.js"></script>
  <script src="/data/pig-area.js"></script>
  <% include ../views/partials/map %>
</body>

</html>